# Remix compiler artifacts
**/artifacts/
**/artifacts/**
!artifacts/
!artifacts/receipts/
!artifacts/receipts/dail-phase4-assurance-production-evidence-2026-08-26.v1.json

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env

out/
cache/
node_modules/
.DS_Store
.env.*
.env.local
.next/
.vercel/
coverage/
npm-debug.log*
